{% extends 'base.html' %}

{% block content %}
<main class = "container py-5">
    
<section class ="card card-body">
    <h1 class="display-1 text-center">Django App</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit incidunt, repudiandae doloribus dolorum doloremque iste fugiat vitae necessitatibus, maxime libero minus nemo maiores quos, reiciendis id? Ipsum perferendis eum sint natus sed expedita voluptatum iusto nesciunt sequi culpa iste nostrum laudantium asperiores officia, inventore amet autem tempora rem ea quis architecto, maiores est. Dignissimos officiis iusto laudantium debitis placeat ratione sunt modi eius expedita? Dolor laboriosam earum fugit maxime exercitationem aspernatur, beatae ex. Distinctio tempore aperiam praesentium quas repellat dicta commodi nesciunt aspernatur eligendi optio at corrupti ex veritatis, sit obcaecati laborum deserunt sint repudiandae maxime. Labore est tempora numquam?</p>
    </section>
    <div class="text-center">
        <a class="btn btn-secondary" href="/signin/">
            Signin
        </a>
        <a class="btn btn-dark" href="/signup/">
            Signup
        </a>

    </div>

</main>
{% endblock %}

